<section [ngClass]="stateDarkMode ? 'section__class' : 'section__class-dark'">
  <div>
    <div class="title_principal">
      <div class="text_p">
        Seja bem-vindo(a) ao meu <br/>
        <p class="title_italic">
          <app-typing-animation [text]="'portifolio musical!'"></app-typing-animation>
        </p>
      </div>
      <img src="../../assets/iup.jpg" alt="" class="subir-descer-animacao">
    </div>

    <div class="pedido__div">
      <button class="btn btn-primary" [ngClass]="stateDarkMode ? 'btn-primary' : 'btn-primary-dark'" (click)="solicitarMusica()">
        {{ !formularioAberto ? 'Solicitar Música ' : 'Ocultar Formulário'}}
      </button>
      <button class="btn btn-primary" [ngClass]="stateDarkMode ? 'btn-primary' : 'btn-primary-dark'">
        <a href="https://www.youtube.com/playlist?list=PL7gWX6CbJymVqZM1-2kv05QP7S6tntzmr">Status do meu pedido</a>
      </button>
    </div>
    <div class="div__contain__form">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>


