// global
.div__bemvindo{
  width: 100%;
  background-image: url("https://64.media.tumblr.com/tumblr_lok755Qofg1qkzotco1_500.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: auto;
  font-style: normal;
  color: var(--branco-suave);
  font-weight: bold;
}

.section__class{
  background-color: var(--azul-forte);
  height: 800px;
  overflow: auto;
}

.btn-primary{
  background-color: var(--azul-bebe);
  border: none;
}

h5{
  color: var(--branco-suave);
}

.pedido__div{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;

  h2{
    color: var(--branco-suave);
  }
}

.div__contain__form{
  margin-left: 50px;
  padding-top: 50px;
  margin-right: 50px;
  box-shadow: 0px 5px 5px -5px var(--preto-suave);
}

// hover
.btn-primary:hover{
  background-color: var(--branco-suave);
  border: none;
  width: 200px;
  color: var(--preto-suave);
}

// dark
.section__class-dark{
  background-color: var(--preto-forte);
  height: 800px;
  overflow: auto;
}

.btn-primary-dark{
  background-color: var(--branco-suave);
  border: none;
  color: var(--preto-suave);
  width: 200px;
  margin-top: 20px;
}


@media (max-width: 900px) {
  // mobile
  .div__bemvindo{
    height: 150px;
    font-size: 20px;
    padding-top: 80px;
    padding-left: 10px;
  }
  h5{
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
  }
  .btn-primary{
    width: 150px;
    margin-top: 20px;
  }

}

@media (min-width: 900px) {
  // desktop
  .div__bemvindo{
    height: 600px;
    font-size: 60px;
    padding-top: 500px;
    padding-left: 20px;
  }
  .btn-primary{
    width: 200px;
    margin-top: 20px;
  }
}


