.title_principal{
  font-size: clamp(20px, 8vw, 70px);
  line-height: clamp(48px, 9vw, 80px);
  padding-bottom: 2rem;
  text-wrap: nowrap;
  letter-spacing: -2.94px;
  background-color: var(--branco-suave);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2rem;

  img{
    width: 400px;
    height: 500px;
    margin-left: 40px;
  }
}

.text_p{
  margin-top: 7rem;
}

.title_italic{
  font-style: italic;
}

@keyframes subirDescer {
  0%, 100% {
    transform: translateY(0); /* A posição inicial e final é a mesma */
  }
  50% {
    transform: translateY(-20px); /* Eleva a div 20 pixels no meio da animação */
  }
}

.subir-descer-animacao {
  animation: subirDescer 2s ease-in-out infinite; /* Aplica a animação */
}

// global
.section__class{
  background-color: var(--azul-forte);
  height: 100vh;
  overflow-y: auto;
}

.btn-primary{
  background-color: var(--azul-bebe);
  border: none;
}

h5{
  color: var(--branco-suave);
}

.pedido__div{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;

  img{
    border-radius: 50%;
    margin-top: 20px;
  }


  p{
    text-align: left;
    color: var(--branco-suave);
    padding-left: 20px;
    padding-top: 60px;
  }
}

.div__contain__form{
  margin-left: 50px;
  padding-top: 50px;
  margin-right: 50px;
  box-shadow: 0px 5px 5px -5px var(--preto-suave);
}

// hover
.btn-primary:hover{
  background-color: var(--branco-suave);
  border: none;
  width: 200px;
  color: var(--preto-suave);
}

// dark
.section__class-dark{
  background-color: var(--preto-forte);
  height: 100vh;
  overflow-y: auto;
}

.btn-primary-dark{
  background-color: var(--branco-suave);
  border: none;
  color: var(--preto-suave);
  width: 200px;
  margin-top: 20px;
}

.section__class-dark::-webkit-scrollbar, .section__class::-webkit-scrollbar{
  width: 8px; /* Largura da barra de rolagem */
}

.section__class-dark::-webkit-scrollbar-track, .section__class::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Cor de fundo da trilha da barra de rolagem */
}

.section__class-dark::-webkit-scrollbar-thumb, .section__class::-webkit-scrollbar-thumb {
  background-color: #888; /* Cor do botão da barra de rolagem */
}

.section__class-dark::-webkit-scrollbar-thumb:hover, .section__class::-webkit-scrollbar-thumb:hover{
  background-color: #555; /* Cor do botão da barra de rolagem ao passar o mouse */
}


@media (max-width: 900px) {
  // mobile
  .div__bemvindo{
    height: 205px;
    font-size: 20px;
    padding-top: 130px;
    padding-left: 10px;
  }
  h5{
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
  }

  .btn-primary{
    width: 150px;
    margin-top: 20px;
  }

  .pedido__div{
    div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    img{
      width: 180px;
      height: 180px;
    }
  }

}

@media (min-width: 900px) {
  // desktop
  .div__bemvindo{
    height: 600px;
    font-size: 60px;
    padding-top: 500px;
    padding-left: 20px;
  }
  .btn-primary{
    width: 200px;
    margin-top: 20px;
  }
  .pedido__div{
    div{
      display: flex;
      flex-direction: row;
    }
    img{
      width: 200px;
      height: 200px;
    }
  }
}



