<section [ngClass]="stateDarkMode ? 'section__class' : 'section__class-dark'">
  <div>
    <div class="div__bemvindo">
      Seja bem-vindo(a) ao meu portifolio musical!
    </div>
    <div class="pedido__div">
      <h5 class="paragrafo">Aqui você pode acompanhar um pouco da minha trajetória no mundo da música! <br>
        Me envie um pedido! :) <br>
      </h5>
      <button class="btn btn-primary" [ngClass]="stateDarkMode ? 'btn-primary' : 'btn-primary-dark'" (click)="solicitarMusica()">
        {{ !formularioAberto ? 'Solicitar Música ' : 'Ocultar Formulário'}}
      </button>
    </div>
    <div class="div__contain__form">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>


