 <div class="div__contain__form">
  <form class="form__group" [formGroup]="formGroup" (submit)="enviarFormulario($event)">
    <h2>Me envie uma solicitação/sugestão de música :)</h2>
    <div class="mb-3">
      <label for="nomeDaMusica" class="form-label">Nome da Música</label>
      <input type="text" class="form-control" id="nomeDaMusica" formControlName="nomeDaMusica" required>
      <div *ngIf="formGroup.get('nomeDaMusica')?.invalid && formGroup.get('nomeDaMusica')?.touched" class="form-text">Por favor preencha esse campo</div>
    </div>
    <div class="mb-3">
      <label for="artista" class="form-label">Artista</label>
      <input type="text" class="form-control" id="artista" formControlName="artista" required>
    </div>
    <div class="mb-3">
      <label for="instrumento" class="form-label">Instrumento</label>
      <select class="form-control" id="instrumento" formControlName="instrumento" required>
        <option value="" disabled selected>Selecione um instrumento</option>
        <option [value]="instrumento.instrumento" *ngFor="let instrumento of instrumentos">{{ instrumento.instrumento }}</option>
      </select>
      <div *ngIf="formGroup.get('instrumento')?.invalid && formGroup.get('instrumento')?.touched" class="text-danger">
        Selecione uma opção.
      </div>
    </div>

    <div *ngIf="!naoQueroMeIdentificar">
      <div class="mb-3">
        <label for="nome" class="form-label">Seu Nome</label>
        <input type="text" class="form-control" id="nome" formControlName="nome">
        <div *ngIf="formGroup.get('nome')?.invalid && formGroup.get('nome')?.touched" class="form-text">Por favor preencha esse campo</div>
      </div>
      <div class="mb-3">
        <label for="perfilInstagram" class="form-label">Seu perfil no Instagram</label>
        <input type="text" class="form-control" id="perfilInstagram" formControlName="perfilInstagram">
      </div>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="naoQueroIdentificar()">
        <label class="form-check-label" for="exampleCheck1">Não quero me identificar</label>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>

