// global
.btn-primary{
  background-color: var(--cinza-forte);
  border: none;
  width: 100%;
}

.btn-primary:hover{
  background-color: var(--branco-suave);
  border: none;
  width: 100%;
  color: #000;
}

.form__div{
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: 'Raleway';
  font-style: normal;
}

.form__group{
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: var(--azul-suave);
  color: var(--branco-suave);
  margin-bottom: 10px;

  input, select, option {
    background-color: var(--cinza-bebe);
    color: var(--cinza-claro);
  }

  input::placeholder {
    color: var(--cinza-claro);
  }

  .text-danger{
    color: var(--cinza-claro)!important;
  }

}
.div__contain__form{
  padding-bottom: 20px;
}

// dark
.form__group-dark{
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: var(--cinza-morno);
  color: var(--branco-suave);
  padding-bottom: 30px;

  input, select, option {
    background-color: var(--preto-forte);
    color: var(--branco-suave);
  }

  input::placeholder {
    color: var(--branco-suave);
  }

  .text-danger{
    color: var(--preto-marrento)!important;
  }

}

@media (max-width: 900px) {
  // mobile
  h2{
    font-size: 20px;
  }
  label{
    font-size: 17px;
  }
}

@media (min-width: 900px) {
  // desktop

}


