// geral
.nav__div{
  background-color: var(--fundo-azul);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div{
    padding-top: 15px;
    padding-right: 15px;
  }

  img{
    border-radius: 50%;
    width: 50px;
    height: 50px;

    &:hover {
      transform: translateY(-4px);
      cursor: pointer;
  }
  }
  a{
    margin-right: 10px;
  }
}

.actions__div{
  width: 100%;
  li{
    width: 25%;
  }
}

.label__input{
  padding-bottom: 10px;
}

.btn-close {
  background-color: var(--azul-bebe)!important;
}

.btn-close-dark {
  background-color: var(--cinza-suave)!important;
}

.log{
  width: 20px;
}

.btn-primary{
  margin-bottom: 18px;
  background-color: var(--azul-bebe);
  border: none;
  padding-top: 5px;
  margin-left: 20px;
  height: 35px;
}

.offcanvas{
  background-color: var(--azul-suave);
  color: var(--branco-suave);

  a{
    color: var(--branco-suave);;
  }
}

.btn-primary{
  margin-left: 0px;
  width: 100%;
}

// dark mode
.nav__div-dark{
  background-color: var(--preto-suave);;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div{
    padding-top: 15px;
    padding-right: 15px;
  }

  img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 10px;

    &:hover {
      transform: translateY(-4px);
      cursor: pointer;
  }
  }
  a{
    margin-right: 10px;
  }
}

.btn-primary-dark{
  margin-bottom: 18px;
  background-color: var(--branco-suave);;
  border: none;
  padding-top: 5px;
  margin-left: 20px;
  margin-top: 20px;
}


.offcanvas-dark{
  background-color:  var(--preto-escuro);;
  color: var(--branco-suave);;

  a{
    color: var(--branco-suave);;
  }
}


@media (max-width: 900px) {
  // mobile
  .theme__div{
    margin-top: 6px;
  }
  .nav__div{
    img{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .btn-primary{
    margin-top: 20px;
  }
}

@media (min-width: 900px) {
  // desktop
  .nav__div{
    width: 100%;
    height: 70px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  .btn-primary{
    margin-top: 6px;
  }
}
