.div__contain__form{
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: #5959b5;
  color: #fff;
  height: 618px;
  align-items: center;
  text-align: center;
  padding-top: 220px;
  display: flex;
  flex-direction: column;
}

.checked__icon{
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
