<div class="div__encaminha">
  <button routerLink="/solicitacoes" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Solicitações">
    <img class="icon__button" src="https://cdn-icons-png.flaticon.com/512/5220/5220627.png" alt="">
  </button>
  <button routerLink="/historia" type="button"  data-bs-toggle="tooltip" data-bs-placement="top" title="História">
    <img class="icon__button" src="https://cdn-icons-png.flaticon.com/512/5234/5234526.png" alt="">
  </button>
  <button routerLink="/tracklist" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="TrackList">
    <img src="https://cdn-icons-png.flaticon.com/512/123/123445.png" class="icon__button" alt="">
  </button>
  <!-- [ngClass]="{'text-success':true}" -->
  <button
    routerLink="/apresentacoes" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Apresentações">
    <img class="icon__button" src="https://cdn-icons-png.flaticon.com/512/73/73805.png" alt="">
  </button>
</div>


