.div__historia{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 600px;
}

.card{
  &:hover {
    transform: translateY(-4px);
    cursor: pointer;
}
}

.container{
  padding-top: 10px;
}

.container-dark{
  padding-top: 10px;
}

.color{
  color: #fff;
}

.card-body {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.pagina{
  background-color: #1c1c73;
}

.pagina-dark{
  background-color: #0C0C0C;
}

.container{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin: 0 auto;

  img{
    width: 100px;
  }
}

.parte_dois{
  margin-bottom: 50px;
}

.cabecalho{
  background-image: url("https://i.gifer.com/40RI.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500px;
  margin-bottom: 10px;
  padding-top: 400px;
  padding-left: 10px;
  h3{
    font-size: 60px;
  }
}
.button-style{
  background-color: #5959b5;
  color: #fff;
}
.button-style-dark{
  background-color: #7b7579;
  color: #fff;
}

.accordion-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5959b5;
  color: #fff;
  padding-left: 10px;
  
  img{
    margin-top: 30px;
    width: 500px;
  }
  video{
    height: 500px;
  }
}
.accordion-body-dark{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#6c757d;
  color: #fff;
  padding-left: 10px;

  img{
    margin-top: 30px;
    width: 500px;
  }
  video{
    height: 500px;
  }
}



