 <div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <strong>Comecei a fazer aulas de violão aos 12 anos, em fevereiro de 2017. Onde comecei a ter meu primeiro contato
          com a música. O violão foi meu primeiro instrumento, a primeira música que aprendi foi "Asa Branca". primeiro
          aprendi as notas do solo e depois comecei a aprender os acordes. Desde então, meu interesse por música só
          aumentou. Acabei entrando na Camerata de Violões da Praia Grande, onde tive a oportunidade de me apresentar
          várias vezes com o grupo e duas sozinha. Continuei fazendo aulas até 2020, depois parei. Foi nesse ano, de 2017,
          que tive meu primeiro contato com partituras, o que eu tinha muita dificuldade no começo.</strong>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <strong>Em 2018, quando eu tinha 14 anos mais ou menos, me surgiu o interesse de aprender algum outro instrumento de
          cordas. E então o escolhido foi o ukulele. Por ja ter visto alguns vídeos na internet, não tinha muita noção
          do quão fácil seria tocar, mas eu imaginava que poderia observar pessoas tocando e tentar aprender sozinha.
          E assim foi, comecei a pegar vários vídeos no Youtube, no qual eu observava as pessoas e pegava os acordes.
          Foi um pouco mais fácil por eu já ter a familiaridade com o violão.</strong>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <strong>2018 e 2019 foi um ano mais focado em apresentações de violão e nas duas apresentações sozinha que fiz,
          onde em uma toquei a música "Noturno" do Ernesto Marangoni e na segunda toquei A "Lagrima" de Francisco
          Tárrega. E nesse ano me familiarizei mais com a leitura de partituras, mesmo ainda não estando 100% boa nisso.

          Já no final de 2019, também me surgiu o interesse de apostar em uma coisa mais clássica e um tanto quanto,
          dificil (?). Comecei a querer tocar violino, então em abril de 2020 comecei meus estudos sozinha mesmo,
          devido a impossibilidade de sair de casa, e também porque achei que poderia aprender assim como o ukulele.
          Foi um pouquinho complicado por conta de alguns vícios que eu criei e por não ter alguem ali para orientar.
          Mas com muita prática e estudo, continuei tentando. Também em 2020, ganhei uma flautinha doce, sim, aquelas
          que você pode dar a sorte de ganhar em uma festa de criança. Como ela é mais "fácil", levei mais como uma
          recreação e achei que seria legal por ser um instrumento de sopro.</strong>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <strong>Em 2021, quando estava no meu último ano da escola, tive a oportunidade de enviar uma audição (tocando violão),
          para a Universidade Estadual Paulista (UNESP), no qual toquei a música "Maria". Ainda em 2021, cheguei a fazer
          algumas aulas online de violino, que contribuiram para tirar alguns dos vícios que eu peguei aprendendo sozinha
          (como a movimentação do braço, o som e o ajuste do instrumento). E a partir das aulas, comecei a estudar o
          método Suzuki (para violino). Mas acabei não dando continuidade às aulas, e só continuei estudando os métodos
          sozinha.

          Em 2022, comecei a estudar baixo elétrico pelo Youtube, o que também me despertou o interesse por entender
          como funcionavam equipamentos de estúdio, sons e etc. Foi ai que também percebi que eu gostava de cantar
          fazendo segunda voz.</strong>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <strong>E em 2023, adiquiri uma viola de arco, que é bem parecida com o violino, mas uma oitava a baixo. A técnica
          do instrumento em si, não foi difícil de pegar pois é bem parecida com o violino. Mas no começo me confundi
          um pouco devido a sua última corda "dó", mas foi através disso que aperfeiçoei minha leitura de partituras
          e aprendi a ler a clave de fá, que até então ainda não sabia ler 100%. Nesse ano também tive a oportunidade
          de me apresentar tocando violino e baixo pela primeira vez. A apresentação de baixo contou com algumas músicas
          famosas brasileiras: Anna Júlia (Los Hermanos), Meu erro (Paralamas do Sucesso), Tempo Perdido e etc. Já o
          violino foi uma coisa mais simples, apenas um improviso de Dust in the Wind (Kansas) e We Will Rock You (Queen).</strong>
      </div>
    </div>
  </div>
</div>
<!--
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading1">First</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading2">Second</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#scrollspyHeading3">Third</a></li>
        <li><a class="dropdown-item" href="#scrollspyHeading4">Fourth</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
      </ul>
    </li>
  </ul>
</nav>
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
  <h4 id="scrollspyHeading1">First heading</h4>
  <p>...</p>
  <h4 id="scrollspyHeading2">Second heading</h4>
  <p>...</p>
  <h4 id="scrollspyHeading3">Third heading</h4>
  <p>...</p>
  <h4 id="scrollspyHeading4">Fourth heading</h4>
  <p>...</p>
  <h4 id="scrollspyHeading5">Fifth heading</h4>
  <p>...</p>
</div>

<button class="btn btn-primary" type="button" disabled>
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  <span class="visually-hidden">Loading...</span>
</button>
<button class="btn btn-primary" type="button" disabled>
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  Loading...
</button>

<div class="text-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>

<span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Disabled tooltip">
  <button class="btn btn-primary" type="button" disabled>Disabled button</button>
</span>

<div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video" allowfullscreen></iframe>
</div>

<div class="d-flex position-relative">
  <img src="..." class="flex-shrink-0 me-3" alt="...">
  <div>
    <h5 class="mt-0">Custom component with stretched link</h5>
    <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
    <a href="#" class="stretched-link">Go somewhere</a>
  </div>
</div>
