// global
.div__historia{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 600px;
}

.card{
  &:hover {
    transform: translateY(-4px);
    cursor: pointer;
}
}

.container{
  padding-top: 10px;
}

.color{
  color: var(--branco-suave);
}

.card-body {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.pagina{
  background-color: var(--azul-forte);
}

.container{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin: 0 auto;

  img{
    width: 100px;
  }
}

.parte_dois{
  margin-bottom: 50px;
}

.cabecalho{
  background-image: url("https://i.gifer.com/40RI.gif");
  background-size: 100%;
  background-repeat: no-repeat;

  h3{
    font-size: 60px;
  }
}
.button-style{
  background-color: var(--azul-suave);
  color: var(--branco-suave);
}


.accordion-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--azul-suave);
  color: var(--branco-suave);
  padding-left: 10px;

  img{
    margin-top: 30px;
    width: 500px;
  }
  video{
    height: 500px;
  }
}
// dark
.accordion-body-dark{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cinza-suave);
  color: var(--branco-suave);
  padding-left: 10px;

  img{
    margin-top: 30px;
    width: 500px;
  }
  video{
    height: 500px;
  }
}

.button-style-dark{
  background-color: var(--cinza-morno);
  color: var(--branco-suave);
}

.container-dark{
  padding-top: 10px;
}

.pagina-dark{
  background-color: var(--preto-forte);
}

@media (max-width: 900px) {
  // mobile
  strong{
    font-size: 10px;
    padding-right: 2px;
    padding-bottom: 3px;
    padding-top: 3px;
  }
  .cabecalho{
    height: 200px;
    padding-left: 10px;
  }
  .color{
    padding-bottom: 10px;
  }
}

@media (min-width: 900px) {
  // desktop
  strong{
    padding: 3px 3px 3px 3px;
  }
  .cabecalho{
    height: 500px;
    margin-bottom: 10px;
    padding-top: 400px;
    padding-left: 10px;
  }
}


