@import 'ngx-toastr/toastr';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

:root{
  --fundo-azul: #1b2e5e;
  --azul-bebe: #5d67fa;
  --azul-forte: #1c1c73;
  --azul-suave: #5959b5;
  --branco-suave: #ffffff;
  --preto-suave: #000000;
  --preto-escuro: #181712;
  --cinza-forte: #363547;
  --cinza-suave: #6c757d;
  --cinza-morno: #7b7579;
  --preto-forte: #0C0C0C;
  --cinza-bebe: #454569;
  --cinza-claro: #999999;
  --preto-marrento: #140e15;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

